ZJU_USERNAME=3240100000
ZJU_PASSWORD=your_passw0rd

# For pintia.cn (Optional, used by reliableTodolist.js)
PINTIA_EMAIL=your_email@example.com
PINTIA_PASSWORD=your_pintia_password

# For DingTalk notification(Optional)
ENABLE_DINGTALK=true # set to anything except "true" to disable
DINGTALK_WEBHOOK="https://oapi.dingtalk.com/robot/send?access_token=your_access_token"
DINGTALK_SECRET="SECyour_secret_token"

# 课表配置 (1=周一, ..., 7=周日)
# 对应时间段: 1=(8:00), 2=(10:00), 3=(13:25), 4=(16:15), 5=(18:50)
SCHEDULE_1=1,2,4
SCHEDULE_2=2,4
SCHEDULE_3=2,3
SCHEDULE_4=5
SCHEDULE_5=1,2
SCHEDULE_6=
SCHEDULE_7=